body{
	height:calc(100vh - 11vw);
	padding:5vw;
	background: url(quad.jpg) center center no-repeat; background-size:cover;
}
.imgcontainer{
	text-align: center;
}
img, object, .np{
	display:inline;
	max-height: 300px;
	max-width:85%;
	margin: 0 1.5rem;
}
.np{
	width:300px;
	height:300px;
}
form{
	margin:0;
}
main{
	padding:2vw;
	width:95%;
	max-width:770px;
	color:white;
	background:rgba(0,0,0,0.8);
}
.button-secondary{
	color: #FFF;
    background-color: #00e676;
    border-color: #00e676;
}