body{
	height:calc(100vh - 11vw);
	padding:5vw;
	background: url(quad.jpg) center center no-repeat; background-size:cover;
}
img, object{
	display:block;
	max-height: 200px;
	max-width:85%;
	margin: 2.5rem auto;
}
form{
	margin:0;
}
main{
	padding:2vw;
	width:95%;
	max-width:770px;
	color:white;
	background:rgba(0,0,0,0.8);
}
.button-secondary{
	color: #FFF;
    background-color: #00e676;
    border-color: #00e676;
}